* {
 box-sizing: content-box;
}

main {
margin: 0px;
}

header {
background-color: aqua;
}

h1 {

}

.navigation {
display: flex;
justify-content: center;
width:auto;
height: auto;
background-color: white;
padding:10px;
position: fixed;
z-index: 1;
border-radius: none
box-shadow: 0px 10px white;
}

.navigation ul li {
    list-style: none;
    display: inline;
    padding: 10px 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 3px 3px 5px;
}

.navigation ul li a {
    text-decoration: none;
}

.navigation ul li:hover {
    color: black;
    background-color: rgba(200, 200, 200, 0.4);
}

.navigation ul li:active {
    color: black;
    position:relative;
    top: 5px; left: 5px;
    padding: 10px;
    background-color: lightgrey;
   /* box-shadow: -3px -3px 5px; */
}

#banner {
    display: flexbox;
    width: 100%;
    height: auto;
    padding: 10px;
    font-family: 'Righteous', cursive;
    font-size: 2em;
     position: sticky;
}

/* a class for styling content window as a whole class */

#mainpage {
    width: 100%;
    min-width: 800px;
    margin:0;
    padding:0;
    background-color: blueviolet;
   
}

#info {
    width:32%;

}

#pictures {
    width:32%;
}

#options {
    width:32%;
}

.content {
display: inline-block;

height:150px;
background-image: linear-gradient(white, black);
margin:0px;
border: none;
padding: 10px;
}

#info {

}

#pictures {

}

#options {

}

footer {
    background-color: aqua;
}

footer div {
    margin: 0px;
    padding: 10px;
    border: none;
    background-color: aqua;
    display:inline-block;
    position: bottom;
    
}