* {
 box-sizing: content-box;
}

body {
    margin:0px;
    padding: 0px;
}

main {
margin: 0px;
position:relative;
top: 50px;
}

header {
display: flex;
position: relative;
}


.navigation {
display: flex;
justify-content: center;
width:100%;
height: auto;
background-color: rgb(179, 179, 179);
padding:10px;
position: fixed;
top: -10px; 
z-index: 1;
border-radius: none;
box-shadow: 0px 10px white;
}

.navigation ul li {
    user-select: none;
    list-style: none;
    display: inline;
    padding: 10px 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 3px 3px 5px;
}

.navigation ul li a {
    text-decoration: none;
    user-select: none;
}

.navigation ul li:hover {
    color: black;
    background-color: rgba(200, 200, 200, 0.4);
}

.navigation ul li:active {
    color: black;
    position:relative;
    top: 5px; 
    padding: 10px;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: none;
}

#banner {
    display: flexbox;
    width: 100%;
    height: auto;
    padding: 10px;
    font-family: 'Righteous', cursive;
    font-size: 2em;
     position: sticky;
}

/* a class for styling content window as a whole class */

#mainpage {
    width: 100%;
    min-width: 800px;
    margin:0;
    padding:0;
    background-color: blueviolet;
   
}

#info {
    width:32%;

}

#pictures {
    width:32%;
}

#options {
    width:32%;
}

.content {
display: inline-block;

height:150px;
background-image: linear-gradient(white,grey);
margin:0px;
border: none;
padding: 10px;
}

footer {
    background-color: rgb(179, 179, 179);
}

footer div {
    margin: 0px;
    padding: 10px;
    border: none;
    display:inline-block;
    position: bottom;
    
}